$s-Behance: (133px, 0px, -133px, 0px, 128px, 128px, 527px, 394px, 'sprite.png');
$s-Dribbble: (266px, 133px, -266px, -133px, 128px, 128px, 527px, 394px, 'sprite.png');
$s-Facebook: (0px, 133px, 0px, -133px, 128px, 128px, 527px, 394px, 'sprite.png');
$s-Github: (133px, 133px, -133px, -133px, 128px, 128px, 527px, 394px, 'sprite.png');
$s-GooglePlus: (266px, 0px, -266px, 0px, 128px, 128px, 527px, 394px, 'sprite.png');
$s-Instagram: (0px, 0px, 0px, 0px, 128px, 128px, 527px, 394px, 'sprite.png');
$s-Linkedin: (0px, 266px, 0px, -266px, 128px, 128px, 527px, 394px, 'sprite.png');
$s-Pinterest: (133px, 266px, -133px, -266px, 128px, 128px, 527px, 394px, 'sprite.png');
$s-Twitter: (266px, 266px, -266px, -266px, 128px, 128px, 527px, 394px, 'sprite.png');
$s-WhatsApp: (399px, 0px, -399px, 0px, 128px, 128px, 527px, 394px, 'sprite.png');
$s-YouTube: (399px, 133px, -399px, -133px, 128px, 128px, 527px, 394px, 'sprite.png');
