/* Переменные */

/* Шрифты */
$din: 'DIN Pro', 'Arial', sans-serif;

/* Цвета */
$black: #000000;
$text: #4a4556;
$white: #ffffff;
$stroke: #cacaca;
$error: #950000;


/* Геометрия */
$desktop: 1440px;
$tablet: 1023px;
$wide-mobile: 767px;
$mobile: 599px;
$min-mobile: 320px;